
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=PT+Sans&family=Roboto:wght@100;300&display=swap');


html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to top right, black 25%, #221133);
    padding-top: 2rem;
}

.quote {
    align-items: center;
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 0.4rem;
}

.author{
    color: #fff;
}

.quote .text {
    font-style: italic;
    margin-bottom: 0.4rem;
    font-family: 'Handlee', cursive;
}


.quote .author {
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}

.button {
    font-size: 1.4rem;
    background-color: #41b0e8;
    border-radius: 5px;
    padding: 1.2rem;
    cursor: pointer;
    color: #fff;
    border: none;
    font-weight: bold;
}

.button:hover{
    background-color: #8dcff1;
}