
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=PT+Sans&family=Roboto:wght@100;300&display=swap');


html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to top right, black 25%, #221133);
    padding-top: 5rem;
}

footer {
    position: fixed;
    color: #fff;
    font-size: 12px;
    margin: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-style: italic;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.quote {
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 0.4rem;
}

.author{
    color: #fff;
}

.quote .text {
    font-style: italic;
    margin-bottom: 0.4rem;
    font-family: 'Handlee', cursive;
    font-size: 1.6rem;
}


.quote .author {
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
}

.button {
    font-size: 1.2rem;
    background-color: #41b0e8;
    border-radius: 5px;
    padding: 0.9rem;
    cursor: pointer;
    color: #fff;
    border: none;
    font-weight: bold;
}

.button:hover{
    background-color: #8dcff1;
}

.fa-solid{
    font-size: 0.7rem;
    color: #CFC5DB;
}